<%include file="header-jquery.html" />
<script type="text/javascript">
<%include file="js/createlinkedslider.js" />
</script>


<p>

You can first ajust the parameters used to generate the accumulation map:

the angular resolution (<font color="blue"><i>nbAngularSectors</i></font>),
the maximal analysis radius from the pith (<font color="blue"><i>rMax</i></font>) and
the minimal Z-Motion value considered (<font color="blue" <i>zMin</i></font>, set to 10 by default remove the background noise).
</p>


<form action="${app.base_url + 'wait'}" method="get">

  <input type="hidden" name="key" value="${app.key}">
<div class="action">


<ul>
<li>
  <!-- code for slider -->
  <div style="float:left;padding-right:25px">
    <label for="a">Angular resolution: <font color="blue"><i>nbAngularSectors</i></font></label>
    <input type="text" style="font-family:monospace;text-align:right"
           size="4" id="a" name="a" value="500" />
  </div>
  <div id="a_slider" name="a_slider" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
  <script type="text/javascript">
    // Turn DIV slider into a slider linked to scale
    $(document).ready(function() {
    createLinkedSlider('#a', '#a_slider', 100, 900, 1);
    });
  </script>
  <div style="clear:both"> </div>
  <!-- end of code for slider -->
</li>

<li style="display: none;">
 <!-- code for slider -->
  <div style="float:left;padding-right:25px">
    <label for="rmin">Minimum radius: <font color="blue"><i> rMin </i></font></label>
    <input type="text" style="font-family:monospace;text-align:right"
           size="4" id="rmin" name="rmin" value="0" />
  </div>
  <div id="rmin_slider" name="rmin_slider" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
  <script type="text/javascript">
    // Turn DIV slider into a slider linked to scale
    $(document).ready(function() {
    createLinkedSlider('#rmin', '#rmin_slider', 0, 150, 1);
    });
  </script>
  <div style="clear:both"> </div>
  <!-- end of code for slider -->
</li>

<li>
 <!-- code for slider -->
  <div style="float:left;padding-right:25px">
    <label for="rmax">Maximum anlysis radius: <font color="blue"><i> rMax </i></font></label>
    <input type="text" style="font-family:monospace;text-align:right"
           size="4" id="rmax" name="rmax" value="80" />
  </div>
  <div id="rmax_slider" name="rmax_slider" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
  <script type="text/javascript">
    // Turn DIV slider into a slider linked to scale
    $(document).ready(function() {
    createLinkedSlider('#rmax', '#rmax_slider', 10, 150, 1);
    });
  </script>
  <div style="clear:both"> </div>
  <!-- end of code for slider -->
</li>
<li>
  <!-- code for slider -->
  <div style="float:left;padding-right:25px">
    <label for="zmin">Minimum Z-Motion value : <font color="blue"><i>zMin</i></font></label>
    <input type="text" style="font-family:monospace;text-align:right"
           size="4" id="zmin" name="zmin" value="100" />
  </div>
  <div id="zmin_slider" name="zmin_slider" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
  <script type="text/javascript">
    // Turn DIV slider into a slider linked to scale
    $(document).ready(function() {
    createLinkedSlider('#zmin', '#zmin_slider', 0, 200, 1);
    });
  </script>
  <div style="clear:both"> </div>
  <!-- end of code for slider -->
</li>

</ul>

<p>
You can also change the parameters used to detect th supporting areas of knots:

the threshold value to binarized the accumulation map (<font color="red"><i>tBin</i></font>) and
the maximum distance between two connected components (<font color="red"><i>dMax</i></font>, set to 20 by default according the mean width od knots).
<!-- and the minimum size of a supporting area to be considered as belonging to a knot (<font color="red"><i>minSize</i></font>). -->
</p>
  
<ul>
<li>
  <!-- code for slider -->
  <div style="float:left;padding-right:25px">
    <label for="tbin">Binarization threshold: <font color="red"><i>tBin</i></font></label>
    <input type="text" style="font-family:monospace;text-align:right"
           size="4" id="tbin" name="tbin" value="1" />
  </div>
  <div id="tbin_slider" name="tbin_slider" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
  <script type="text/javascript">
    // Turn DIV slider into a slider linked to scale
    $(document).ready(function() {
    createLinkedSlider('#tbin', '#tbin_slider', 1, 150, 1);
    });
  </script>
  <div style="clear:both"> </div>
  <!-- end of code for slider -->
</li>

<li>
  <!-- code for slider -->
  <div style="float:left;padding-right:25px">
    <label for="dmax">Maximal distance : <font color="red"><i>dMax</i></font></label>
    <input type="text" style="font-family:monospace;text-align:right"
           size="4" id="dmax" name="dmax" value="20" />
  </div>
  <div id="dmax_slider" name="dmax_slider" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
  <script type="text/javascript">
    // Turn DIV slider into a slider linked to scale
    $(document).ready(function() {
    createLinkedSlider('#dmax', '#dmax_slider', 5, 100, 1);
    });
  </script>
  <div style="clear:both"> </div>
  <!-- end of code for slider -->
</li>

<li style="display: none;">
  <!-- code for slider -->
  <div style="float:left;padding-right:25px">
    <label for="minsize">Minimum component size: <font color="red"><i>minSize</i></font></label>
    <input type="text" style="font-family:monospace;text-align:right"
           size="4" id="minsize" name="minsize" value="50" />
  </div>
  <div id="minsize_slider" name="minsize_slider" style="width:280px;float:left;margin-top:4px;font-size:10pt"></div>
  <script type="text/javascript">
    // Turn DIV slider into a slider linked to scale
    $(document).ready(function() {
    createLinkedSlider('#minsize', '#minsize_slider', 0, 100, 1);
    });
  </script>
  <div style="clear:both"> </div>
  <!-- end of code for slider -->
</li>
</ul>



<input type="submit" value="run" />
</div>
</form>

<hr />

<div>
  <img src="${app.work_url + 'input_0.png'}" alt="" />
</div>

<%include file="footer.html" />
